<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <form action="/books/addBook" method="GET">
        <button>Add Books</button>
    </form>
    <%data.forEach(e=>{%>
        <h2>Author: <%= e.author%></h2>
        <h4>Title: <%= e.title%></h4>
        <form action="/books/<%= e.id%>" method="GET">
            <button>Show Book</button>
        </form>
        
    <%})%>

</body>
</html>