<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    
    <form action="/users/addUser" method="GET">
        <button>Add Users</button>
    </form>

    <%data.forEach(e=>{%>
        <h2>User : <%= e.fName %> <%= e.lName %></h2>
        <form action="/users/<%= e.id%>" method="GET">
            <button>Show User</button>
        </form>
    <%})%>
            
</body>
</html>